@media (max-width: 768px) {
  #menu-toggle:checked ~ .sidebar {
    transform: translateX(0);
  }

  #menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
  }

  #menu-toggle:checked ~ .site-header .hamburger {
    background: transparent;
  }

  #menu-toggle:checked ~ .site-header .hamburger::before {
    transform: rotate(45deg) translate(3px,3px);
    top: 0;
  }

  #menu-toggle:checked ~ .site-header .hamburger::after {
    transform: rotate(-45deg) translate(3px,-3px);
    bottom: 0;
  }
}
